/* You can add global styles to this file, and also import other style files */

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto&amp;display=swap);

// Styles
body {
    --bs-body-bg: var(--bs-black);
    --bs-body-color: var(--bs-white);
    font-family: Roboto, sans-serif;
}
